<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AroundMe.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>646C9D725C5AC5D40839B45C97B36ACFC1DA0AE5</string>
				<key>dateExpires</key>
				<string>2021-06-05</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y3PK6NY96A.ca.utoronto.AroundMeApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y3PK6NY96A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AroundMe.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>020a0228-f41d-455f-829c-6ccaca43501c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ca.utoronto.AroundMeApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y3PK6NY96A</string>
				<key>name</key>
				<string>University of Toronto</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
